.producto h3 {
  min-height: 60px;
  max-height: 65px;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* número de líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-bottom: 1rem;
}
